
<div>

    
    <div class="row">
        <div class="col-sm-4">
            <h2>Expense List</h2>
        </div>
        <div class="col-sm-6">             
     
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Expense</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Planned Expense</th>
                    <th>Actual Expense</th>
                    <th>Expense Date</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody *ngIf="expense.length; else noData">
                <tr *ngFor="let item of expense">
                    <td>{{item.id}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.plannedExpense}}</td>
                    <td>{{item.actualExpense}}</td>
                    <td>{{item.expenseDate}}</td>
                   
                    <td>
                        <button data-bs-toggle="modal" [attr.data-bs-target]="'#addexpenseModel-'+item.id" class="btn btn-outline-secondary"> 
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-outline-secondary" (click)="deleteIncome(item.id)" > 
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    
                    <app-edit-expense [expenseModel]="item"></app-edit-expense>
                </tr>
            </tbody>
            <ng-template #noData>No data available.</ng-template>
        </table>
        </div>
    </div>

</div>