/* .income-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .income-form .form-group {
    margin-bottom: 10px;
  }
  
  .income-form .form-control {
    width: 100%;
    border-radius: 3px;
    padding: 8px;
  }
  
  .income-form .select {
    width: 100%;
    border-radius: 3px;
    padding: 8px;
  }
  
  .income-form .btn {
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
  }
  
  .income-form .btn:hover {
    background-color: #0069d9;
  }
  
  .income-form label {
    font-weight: bold;
  } */
  
  /* .income-form .mat-form-field {
    width: 100%;
  }
  
  .income-form .mat-form-field-label {
    font-weight: bold;
  }
  
  .income-form .mat-form-field-input {
    border-radius: 3px;
    padding: 8px;
  }
  
  .income-form .mat-datepicker-toggle {
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
  }
  
  .income-form .mat-datepicker-toggle:hover {
    background-color: #0069d9;
  }
  
  .income-form .mat-datepicker-input {
    border-radius: 3px;
    padding: 8px;
  } */
  