<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
      
        <a href="#" class="navbar-brand">
          <img src="/assets/img/pfapp.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill" /> 
          Personal Finance
        </a>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Income</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="add-income">Add Income</a></li>
                <li><a class="dropdown-item" routerLink="list-income">View Incomes</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Expense</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="add-expense">Add Expense</a></li>
                <li><a class="dropdown-item" routerLink="list-expense">View Expense</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="view-reports">Reports</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
</div>